:root{
    --box-border: 1px solid #bdbdbd;
    --primary-color: #1d9bf0;
    --primary-text: #000;
    --secondary-text: #777777;
    --like-pink: #ff006f;
}

*{
    box-sizing: border-box;
}

html{
    height:100%;
 min-height:100%; 
}

body{
    margin: 0;
    height:100%;
 min-height:100%; 
 font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.container{
    background-color: #000;
    min-height: 100%;
    display: flex;
    padding-left: 25%;
}

.sidebar{
    width:25%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 60%;
}

.nav-logo{
    font-size: 2rem;
    color: rgb(212, 206, 206);
    margin-bottom: 2rem;
}

.nav-links{
    font-size: 1.25rem;
    color: #000;
    font-weight: 300;
}

.nav-links .active-link{
    font-weight: 700;
}

.nav-links li{
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    margin-bottom: 1rem;
}

.nav-links li:hover{background-color:rgba(47, 47, 47, 0.5);}

.nav-links li a{color: #fff; }

.main{
    width:100%;
    display: flex;
}

.timeline{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width: 60%;
}

.top-container{
    border-bottom: var(--box-border);
    margin-bottom: 1px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    
}

.navbar .title{
    font-size: 1.25rem;
    font-weight: 700;
}

.navbar .favourite{
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;
    padding: .5rem;
    border-radius: 50%;
    transition: background-color .2s ease-in-out;
}

.navbar .favourite:hover{
    background-color: rgba(151, 151, 151, 0.5);
}

.form-container{
    width: 100%;
    padding: 0 1.5rem .5rem;
    position: relative;
}

.form-container form{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-container .info{
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-container .info textarea{
    font-family: sans-serif;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 300;
    resize: none;
    background: transparent; 
    color: white;overflow: auto;
}

.form-container .info hr{border-top: 1px solid gray; background: none; width: 37.8rem;}

.submit-btn{pointer-events: none; opacity: 0.5;}

.submit-btn.active{pointer-events: all; opacity: 1;}

.tweet-bottom{display: flex; margin: 1rem 0 ; width: 100%; align-items: center;}

.tweet-bottom img{height: 25px; cursor: pointer; float: left; display: flex;}

.tweet-bottom img:hover{box-shadow: 0 0 6px  rgb(0, 136, 255); border-radius: 50px;}

.tweet-bottom img:not(:first-child){margin-left: 2rem;}

textarea::placeholder{font-size: 1.25rem; font-weight: 300;}

.searchbox{ margin-top: 1rem; display: flex;}

.searchbox span:first-child i{padding: 14.5px; background: rgb(50, 48, 48); color: rgb(157, 153, 153); border-radius: 25px 0px 0 25px;}

.searchbox span:last-child i{background-color: rgb(50, 48, 48); padding: 14.5px; border-radius: 0 25px 25px 0; color: rgb(7, 34, 209); visibility: hidden;}

.searchbox span:last-child{background-color: rgb(50, 48, 48); border-radius: 0px 25px 25px 0}

.searchbox input{height: 45px; width: 18rem; border:none; outline: none; background: rgb(50, 48, 48); padding: 5px;}


.form-container .submit-btn{
    position: relative;
    left: 18rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    padding: .55rem 1.25rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    
}

.tweet{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: var(--box-border);
    /* border: var(--box-border); */
    margin-bottom: 1px;
    padding: 1rem 1.5rem;
    position: relative;
}

.tweet .delete-tweet{
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;
    padding: .5rem;
    border: 0;
    color: #777777;
    border-radius: 50%;
    transition: color .2s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
}

.delete-tweet:hover{
    color: rgb(170, 21, 7);
}

.avatar{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img{
    width: 100%;
}

.tweet-content{
    width: calc(100% - 60px);
}
.tweet-header{
    margin-bottom: 5px;
}

.tweet-name a{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.tweet-handle a,
.tweet-time{
    font-size: .95rem;
    font-weight: 300;
    color: var(--secondary-text);
}

.tweet-body{
    margin-bottom: 7px;
}

.tweet-text{
    font-size: .95rem;
    font-weight: 100;
    color: #b8b1b1;
}

.tweet-actions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.tweet-actions a{
    font-size: .95rem;
    font-weight: 100;
    color: var(--secondary-text);
    transition: color .2s ease-in-out;
}

.tweet-actions a i,
.tweet-actions a span{
    pointer-events: none;
}

.tweet-actions a:hover{
    color: var(--primary-color);
}

.tweet-actions .like-btn:hover{
    color: var(--like-pink);
}

.fa-solid.fa-heart{
    color: var(--like-pink);
}

.right-side-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.right-side-container .card{
    width: 100%;
    margin: 1rem 0 0;
    background-color: hsl(180, 1%, 14%);
    border-radius: 10px;
    padding: 1rem;
}

.right-side-container .card .card-header{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}

.right-side-container .tweet-content{
    width: 100%;
}

.trending-tweets .tweet-content{
    margin-bottom: 1rem;
}

.trending-tweets .tweet-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* mine ###################################################################33 */
