    <div id="main-container-airdopes">
        <%- include ("./partials/nav"); %>
    </div>
    <div class="image-body">
        <img src="Images/earbuds/airdopes.jpg" alt="">
        <div class="path-breadcrumb">
            <a style="text-decoration: none;" href="/dashboard"><span>Home /</span></a>   
            Wireless Earbuds
        </div>
    </div>
    <div class="page-heading">
        <span>Wireless Earbuds</span>
    </div>
    <div class="product-container" id="earbuds-box">
        <div class="card">
            <div class="sale">
                <span><i class="fa-solid fa-bolt"><span>60%</span></i></span>
            </div>
            <a href="#">
                <div class="item-image">
                    <img src="Images/earbuds/earbuds1.1.webp" alt="" class="first">
                    <img src="Images/earbuds/earbuds1.2.webp" alt="" class="second">
                </div>
            </a>
            <div class="item-details">
                <a href="#">
                    <h1 class="item-name">boAt Airdopes 131 - Wireless Earbuds</h1>
                </a>
                <span class="product-review">
                    <span class="review-star">
                      <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="review-rating"> 4.8 |</span>
                    <span class="review-count">1116 reviews</span>
                </span>
                <hr/>
                <span class="item-price">
                    <span class="discount-price">₹ 1,199</span>
                    <span class="non-discount-price">₹ 2,990</span>
                </span>
                <span class="saving">You Save: ₹ 1791 (60%)</span>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>
        
        <div class="card">
            <div class="sale">
                <span><i class="fa-solid fa-bolt"><span>67%</span></i></span>
            </div>
            <a href="#">
                <div class="item-image">
                    <img src="Images/earbuds/earbuds2.1.webp" alt="" class="first">
                    <img src="Images/earbuds/earbuds2.2.webp" alt="" class="second">
                </div>
            </a>
            <div class="item-details">
                <a href="#">
                    <h1 class="item-name">boAt Airdopes 141</h1>
                </a>
                <span class="product-review">
                    <span class="review-star">
                      <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="review-rating"> 4.8 |</span>
                    <span class="review-count">1116 reviews</span>
                </span>
                <hr/>
                <span class="item-price">
                    <span class="discount-price">₹ 1,498</span>
                    <span class="non-discount-price">₹ 2,990</span>
                </span>
                <span class="saving">You Save: ₹ 1492 (67%)</span>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>

        <div class="card">
            <div class="sale">
                <span><i class="fa-solid fa-bolt"><span>53%</span></i></span>
            </div>
            <a href="#">
                <div class="item-image" onclick="location.href='productDetais.html'">
                    <img src="Images/earbuds/earbuds3.1.webp" alt="" class="first">
                    <img src="Images/earbuds/earbuds3.2.webp" alt="" class="second">
                </div>
            </a>
            <div class="item-details">
                <a href="#">
                    <h1 class="item-name">Airdopes 141 Pro</h1>
                </a>
                <span class="product-review">
                    <span class="review-star">
                      <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="review-rating"> 4.8 |</span>
                    <span class="review-count">1116 reviews</span>
                </span>
                <hr/>
                <span class="item-price">
                    <span class="discount-price">₹ 1,498</span>
                    <span class="non-discount-price">₹ 2,990</span>
                </span>
                <span class="saving">You Save: ₹ 1492 (50%)</span>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>
        <div class="card">
            <div class="sale">
                <span><i class="fa-solid fa-bolt"><span>53%</span></i></span>
            </div>
            <a href="#">
                <div class="item-image">
                    <img src="Images/earbuds/earbuds4.1.webp" alt="" class="first">
                    <img src="Images/earbuds/earbuds4.2.webp" alt="" class="second">
                </div>
            </a>
            <div class="item-details">
                <a href="#">
                    <h1 class="item-name">Airdopes 131 DC Edition</h1>
                </a>
                <span class="product-review">
                    <span class="review-star">
                      <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="review-rating"> 5.0 |</span>
                    <span class="review-count">3 reviews</span>
                </span>
                <hr/>
                <span class="item-price">
                    <span class="discount-price">₹ 1,399</span>
                    <span class="non-discount-price">₹ 2,990</span>
                </span>
                <span class="saving">You Save: ₹ 1591 (53%)</span>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>
        <div class="card">
            <div class="sale">
                <span><i class="fa-solid fa-bolt"><span>47%</span></i></span>
            </div>
            <a href="#">
                <div class="item-image">
                    <img src="Images/earbuds/earbuds5.1.webp" alt="" class="first">
                    <img src="Images/earbuds/earbuds5.2.webp" alt="" class="second">
                </div>
            </a>
            <div class="item-details">
                <a href="#">
                    <h1 class="item-name">boAt Airdopes 115</h1>
                </a>
                <span class="product-review">
                    <span class="review-star">
                      <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="review-rating"> 4.9 |</span>
                    <span class="review-count">63 reviews</span>
                </span>
                <hr/>
                <span class="item-price">
                    <span class="discount-price">₹ 1,599</span>
                    <span class="non-discount-price">₹ 2,990</span>
                </span>
                <span class="saving">You Save: ₹ 1391 (47%)</span>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>
        <div class="card">
            <div class="sale">
                <span><i class="fa-solid fa-bolt"><span>47%</span></i></span>
            </div>
            <a href="#">
                <div class="item-image">
                    <img src="Images/earbuds/earbuds6.1.webp" alt="" class="first">
                    <img src="Images/earbuds/earbuds6.2.webp" alt="" class="second">
                </div>
            </a>
            <div class="item-details">
                <a href="#">
                    <h1 class="item-name">boAt Airdopes 181</h1>
                </a>
                <span class="product-review">
                    <span class="review-star">
                      <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="review-rating"> 4.8 |</span>
                    <span class="review-count">25 reviews</span>
                </span>
                <hr/>
                <span class="item-price">
                    <span class="discount-price">₹ 1,599</span>
                    <span class="non-discount-price">₹ 2,990</span>
                </span>
                <span class="saving">You Save: ₹ 1391 (47%)</span>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>
        <div class="card">
            <div class="sale">
                <span><i class="fa-solid fa-bolt"><span>70%</span></i></span>
            </div>
            <a href="#">
                <div class="item-image">
                    <img src="Images/earbuds/earbuds7.1.webp" alt="" class="first">
                    <img src="Images/earbuds/earbuds7.2.webp" alt="" class="second">
                </div>
            </a>
            <div class="item-details">
                <a href="#">
                    <h1 class="item-name">boAt Airdopes 171 - Earbuds</h1>
                </a>
                <span class="product-review">
                    <span class="review-star">
                      <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="review-rating"> 4.8 |</span>
                    <span class="review-count">67 reviews</span>
                </span>
                <hr/>
                <span class="item-price">
                    <span class="discount-price">₹ 1,799</span>
                    <span class="non-discount-price">₹ 5,999</span>
                </span>
                <span class="saving">You Save: ₹ 4200 (70%)</span>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>
        <div class="card">
            <div class="sale">
                <span><i class="fa-solid fa-bolt"><span>64%</span></i></span>
            </div>
            <a href="#">
                <div class="item-image">
                    <img src="Images/earbuds/earbuds8.1.webp" alt="" class="first">
                    <img src="Images/earbuds/earbuds8.2.webp" alt="" class="second">
                </div>
            </a>
            <div class="item-details">
                <a href="#">
                    <h1 class="item-name">boAt Airdopes 281 Pro</h1>
                </a>
                <span class="product-review">
                    <span class="review-star">
                      <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="review-rating"> 4.8 |</span>
                    <span class="review-count">30 reviews</span>
                </span>
                <hr/>
                <span class="item-price">
                    <span class="discount-price">₹ 2,499</span>
                    <span class="non-discount-price">₹ 6,990</span>
                </span>
                <span class="saving">You Save: ₹ 4491 (64%)</span>
                <button class="add-to-cart">ADD TO CART</button>
            </div>
        </div>
    </div>
<footer>
    <%- include ("./partials/footer"); %>
</footer>
